*{
padding: 0;
margin:0;
box-sizing: border-box;
}

.poster{
    width: 89%;
    height: 32rem;
    background-color: #DCDCDC;
    margin-top: 4%;
    margin-left: 5.5%;
    border-radius: 25px;
    overflow: hidden;

}
.product_title{
    position: relative;
    
}
.device_name{
    position: inherit;
margin-top: 5%;
margin-left: 2%;
font-size: 28px;
font-weight: 200;

}
.desc_details{
display: flex;
align-items:flex-start;
justify-content: space-between;


}
article{
    z-index: 4;
    gap: 12%;
    width: 27%;
    display: grid;
    align-items: center;
    

   margin-right: 3%;
   margin-top: 0.5%;
}
#click_to_buy{
    margin-top: 1%;
    margin-left: 3%;
  border-radius: 10px;
  background-color: red;
  color: white;
  width: 20%;
  border-color: transparent;
  
  font-size: 100%;
  padding: 0.7%;

}
.product_pic{
    
    
    position: absolute;
    margin-left: 40%;
    width: 35%;
    top: 5%;
    animation: bounce infinite 4s;
    z-index: 2;
}
@keyframes bounce{
    0%, 20%, 40%,60%,80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(25px);} 
    60% {transform: translateY(15px);} 


}
.device_variant{
    color: white;
    margin-left: 2%;
    font-weight: 700;
    font-size: 160px;
}
.wireless{
    margin-left:2% ;
 margin-bottom: -10px;
    font-size: 75px;
}
.description{
    font-weight:5;
    font-style: normal;
    font-family: sans-serif;
    font-size: 14px;
line-height: 19px;
}
.descript{
    font-size: 24px;
    font-weight: 600;

}
.box{
    width: 120px;
    height: 120px;
    border: 1px solid;
    float: left;
}