* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --bp-sm: 576px;
  --bp-md: 768px;
  --bp-lg: 992px;
  --bp-xl: 1200px;
  --bp-xxl: 1400px;
}

/* utility classes */
.text-center {
  text-align: center;
}

.text-disabled {
  opacity: 0.7;
}

html {
  /* initial font size for rem units */
  font-size: 22px;
}

nav {
  width: 100% !important;
  padding: 1em 0;
}

.nav-cont {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 2em;
  max-width: var(--bp-xl);
  margin: 0 auto;
}

.nav-logo {
  font-size: 1.5em;
}

.cart-cont {
  position: relative;
}

.cart-icon {
  font-size: 1.2em;
}

.cart-count {
  position: absolute;
  transform: translate(0.6em, -0.4em);
  top: 0;
  right: 0;
  background-color: red;
  border-radius: 50%;
  padding: 3px;
  font-weight: bold;
  font-size: 0.6em;
  color: #dcdcdc;
}

header {
  width: 100% !important;
  padding: 0 1em;
}

.poster {
  width: 100%;
  max-width: 1200px;
  background-color: #dcdcdc;
  margin-top: 0;
  padding: 1em 0;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
}

.product_title {
  position: relative;
}

.device_name {
  position: inherit;
  margin-top: 5%;
  margin-left: 2%;
  font-size: 28px;
  font-weight: 200;
}

.desc_details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

article {
  z-index: 4;
  gap: 12%;
  width: 27%;
  display: grid;
  align-items: center;

  margin-right: 3%;
  margin-top: 0.5%;
}

#click_to_buy {
  margin-top: 1%;
  margin-left: 3%;
  border-radius: 10px;
  background-color: red;
  color: white;
  width: 30%;
  border-color: transparent;

  font-size: 100%;
  padding: 0.7%;
}

.product_pic {
  position: absolute;
  top: -1em;
  right: 0;
  width: 45%;
  margin-right: 2em;
  animation: bounce infinite 4s;
  z-index: 2;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    transition-timing-function: ease-in;
  }
  50% {
    transform: translateY(-15px);
    transition-timing-function: ease-out;
  }
}

.device_variant {
  color: white;
  font-weight: 700;
  font-size:min(12vw,8rem);
  text-align: center;
  overflow: hidden;
}

.wireless {
  margin-left: 2%;
  margin-bottom: -10px;
  font-size: 75px;
}

.description {
  font-weight: 5;
  font-style: normal;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 19px;
}

.descript {
  font-size: 24px;
  font-weight: 600;
}

.box {
  width: 120px;
  height: 120px;
  border: 1px solid;
  float: left;
}

.footer_poster {

  background-color: rgb(252, 10, 10);
  padding: 1rem;
  height: 25rem;
  width: 70%;
  margin-left: 5%;
  position: relative;
  border-radius: 12px;
  color: white;
  z-index: 1;
  box-shadow: -2px 5px 8px 3px rgb(110, 108, 108);

  margin-bottom: 2rem;
  margin-left: 12%;

}

.footer_pic {

  position: absolute;
  top: 0.8rem;
  right: 0;
  width: 50%;
  margin-right: -1rem;
  animation: bounce infinite 4s;
  z-index: 2;


}

h4 {

  font-size: 0.8rem;

}

.descpt {
  font-size: 1rem;
}

.acronouns {
  font-size: 2.5rem;
}

h1 {
  font-size: 2.5rem;

}

#click_to_shop {
  width: 50%;
  margin-top: 0.90rem;
  font-size: 1.1rem;
  height: 1.8rem;
  border-radius: 20px;
  border: red solid;
  background-color: white;
  color: red;
}
@media only screen and (max-width: 600px) {
  nav {
    width: 100% !important;
    padding: 1em 0;
  }

  .nav-cont {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 2em;
  }

  .nav-logo {
    font-size: 1.5em;
  }

  .cart-cont {
    position: relative;
  }

  .cart-icon {
    font-size: 1.2em;
  }

  .cart-count {
    position: absolute;
    transform: translate(0.6em, -0.4em);
    top: 0;
    right: 0;
    background-color: red;
    border-radius: 50%;
    padding: 3px;
    font-weight: bold;
    font-size: 0.6em;
    color: #dcdcdc;
  }

  header {
    width: 100% !important;
    padding: 0 1em;
  }

  .poster {
    width: 100%;

    background-color: #dcdcdc;
    margin-top: 0;
    padding: 1em 0;
    margin: 0 auto;
    border-radius: 25px;
    position: relative;
    
  }

  .product_title {
    position: relative;
  }

  .device_name {
    position: inherit;
    margin-top: 5%;
    margin-left: 2%;
    font-size: 28px;
    font-weight: 200;
  }

  .desc_details {
    display: flex;
    align-items: flex-start;
    
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .desc_Card{
    z-index: 4;
    gap: 10%;
    width: 100%;
    display: grid;
    align-items: center;
      padding-left:2%;
    margin-right: 0%;
    margin-top: 2%;
  }

  #click_to_buy {
    margin-top: 5%;
    margin-left: 3%;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    width: 70%;
    border-color: transparent;

    font-size: 14px;
  
    padding: 2.3%;
  }

  .product_pic {
    position: absolute;
    top: 10%;
    right: 4%;
    width: 84%;
    margin-right: -18%;
    animation: bounce infinite 4s;
    z-index: 2;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
      transition-timing-function: ease-in;
    }
    50% {
      transform: translateY(-15px);
      transition-timing-function: ease-out;
    }
  }

  .device_variant {
    color: white;
    margin-left: -2%;
    font-weight: 700;
    font-size: 4.5 em;
    overflow: hidden;
  }

  .wireless {
    margin-left: 2%;
    margin-bottom: -10px;
    font-size: 75px;
  }

  .description {
    font-weight: 100;
    font-style: normal;
    font-family: sans-serif;
    font-size: 13px;
 
    
  }

  .descript {
    font-size: 24px;
    margin-left: 1%;
    font-weight: 600;
  }

  .box {
    width: 120px;
    height: 120px;
    border: 1px solid;
    float: left;
  }
        .footer_poster {
    
          background-color: rgb(252, 10, 10);
          padding: 1rem;
          height: 80%;
          width: 90%;
          margin-left: 5%;
          position: relative;
          border-radius: 12px;
          color: white;
          z-index: 1;
          box-shadow: -2px 5px 8px 3px rgb(110, 108, 108);
    
          margin-bottom: 2rem;
    
        }
    
        .footer_pic {
    
          position: absolute;
          top: 0.8rem;
          right: 0;
          width: 80%;
          margin-right: -1rem;
          animation: bounce infinite 4s;
          z-index: 2;
    
    
        }
    
        h4 {
    
          font-size: 0.8rem;
    
        }
    
        .descpt {
          font-size: 1rem;
        }
    
        .acronouns {
          font-size: 2.5rem;
        }
    
        h1 {
          font-size: 2.5rem;
    
        }
    
        #click_to_shop {
          width: 50%;
          margin-top: 0.90rem;
          font-size: 1.1rem;
          height: 1.8rem;
          border-radius: 20px;
          border: red solid;
          background-color: white;
          color: red;
        }
}

/* for product list */

main {
  padding: 2rem 1rem;
  width: 100% !important;
}

.main-title {
  font-size: 2rem;
  margin: 0.3rem auto;
}

.main-subtitle {
  font-size: 1rem;
}

.prod-list {
  display: grid;
  gap: 1.5em;
  max-width: var(--bp-xl);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 1rem auto;
}

.prod-card {
  background-color: aqua;
  padding: 1rem;
  height: 15rem;
}

footer {
  width: 100% !important;
}

.footer-copyright,
.footer-links {
  max-width: var(--bp-lg);
  margin: 0.3rem auto;
}


.card-shadow{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

